<!DOCTYPE html>
<html>
  <head>
    <title>Feedback Submitted</title>
    <style>
      body {
        border: 5px solid teal;
        padding: 20px;
        font-family: Arial, sans-serif;
        
      }
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }
      ul {
        list-style: disc;
        margin-left: 30px;
      }
      .ss{
        background-color: lightblue;
      }
    </style>
  </head>
  <body>
    <div class="ss">
      <h1>Thank you for your feedback, {{ name }}!</h1>
      <p>We appreciate your comments and will take them into consideration as we continue to improve our service.</p>
      <ul>
        <li>Ur Feedback is stored into our database we will revert back to you within some time</li>
      </ul>
    </div>
   
  </body>
</html>
